<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  Front End Developer Roadmap  </title>
    <!-- font-awesome-cdn-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
     integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- general-css-file -->
    <link rel="stylesheet" href="../general.css">  
    <!-- specific-css-file -->
    <link rel="stylesheet" href="./style.css">
    <!-- specific-arabic-css-file -->
    <link rel="stylesheet" href="">  
</head>
<body>
    <!-- Header-section -->
    <header class="flex-full main-padd header-bar">
        <a href="../main/mainarb.html"> 
            <i class="fas fa-graduation-cap header-logo light"></i>
            <span class="light logo"> أكاديمية الزيرو </span>
        </a>
        <nav class="flex-full nav-lists">
            <div class="nav-item light flex-full">
                <span > تعلم الان </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="../learning articles/learningArticlearb.html">مواضيع الدراسة</a>
                    <a href="../learning courses/arb.html"> الدورات التدريبية </a>
                    <a href="../learning cources assignments/arb.html"> تمارين الدورات</a>
                    <a href="../programming challenges/arb.html"> تحديات برمجية </a>
                    <a href="../developer tools/arb.html"> ادوات المطورين </a>
                    <a href="../problems and solutions list/arb.html"> مواقع حل المساىل البرمجية </a>
                </div>
            </div>
            <div class="nav-item light flex-full" >
                <span> دليل التعليم </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="./arb.html">  خارطة طريق مطور الواجهة الامامية</a>                    
                </div>
            </div>   
            <div class="nav-item light flex-full">
                <span>من القناة</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href="../important chanel video/arb.html"> أهم الحلقات </a>
                    <a href="../alzero week/arb.html"> أسبوع الزيرو </a>
                    <a href="../jorney with life/arb.html"> رحلتي مع الحياة </a>
                    <a href="../dealing with hosting/arb.html"> الاستضافة </a>
                    <a href="../problems and solutions list/arb.html"> اهم المسائل و الحلول </a>
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span> منوع </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href="../meeting lists/arb.html"> قائمة اللقاءات </a>
                    <a href="../alzero-advices/arb.html"> نصائح الزيرو </a>
                    <a href="../book snippetes/arb.html"> معلومات من الكتب </a>
                </div>
            </div> 
            <div class="nav-item light flex-full" >
                <a href="./index.html" title="same-page-in-English" class="lang"> الانجليزيه </a> 
            </div>     
        </nav>
        <div class="mob">
            <i class="fa fa-bars light" onclick="showNav()"></i>
        </div> 
    </header>
    <!-- main-section -->
    <main class="common-main flex-full">
        <div class="common-main-container light">
            <h1> <bdi> Front End Developer مسار </bdi> </h1>
            <p> <bdi> المسار الكامل بازن الله لاحتراف مجال  Front End Development بكل ما يحتويه المسار من دورات تعليمية وادوات ونصائح
            </bdi>
            </p>
             
        </div>
    </main>
     <!-- roadmap-section -->
     <section class="roadmap-sec">
        <div class="road-container ">
            <div class="road-box ">
                <h2 class="road-box-heading"> اسئلة ونقاشات وتحضير الادوات قبل البدء في التعلم </h2>
                <div class="road-box-details ">
                    <div class="vertical-line"></div>
                    <div class="road-box-parts">
                        <div class="road-box-part">
                            <h3> أهم الادوات والاعدادات للبدأ في المجال </h3>
                            <p>
                                <bdi> سوف تتعرف على الادوات والبرامج التي تحتاجها للبدا مثل برامج كتابة code ومتصفح الانترنت ... </bdi> 
                            </p>
                            <hr>
                            <a> Tools & Settings </a>
                        </div>
                        <div class="road-box-part">
                            <h3> أهم الاسئلة التي يسالها من يبدا التعلم </h3>
                            <p> هناك الكثير من الاسئلة التي تدور في بالك 
                            </p>
                            <hr>
                            <a> أهم الاسئلة </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="road-box ">
                <h2 class="road-box-heading"> تعلم الأساسيات </h2>
                <div class="road-box-details ">
                    <div class="vertical-line"></div>
                    <div class="road-box-parts">
                        <div class="road-box-part">
                            <h3> <bdi> HTML تعلم لغة </bdi> </h3>
                            <p> اللغة التي لا تستطيع الاستغناء عنها كمطور للويب </p>
                            <hr>
                            <div class="road-bottom flex-full-ngap">
                                <div class="bottom-start">
                                    <a> مقال عن اللغة </a>
                                    <a> خطة الدراسة </a>
                                </div>
                                <div class="bottom-end">
                                    <a> Updated in 2021 </a>
                                </div>
                            </div>           
                        </div>
                        <div class="road-box-part">
                            <h3> <bdi> CSS تعلم لغة  </bdi>    </h3>
                            <p> االغة المسوؤلة عن تنسيق الصفحات وتتيح لك استعمال الالوان والخطوط و الابعاد </p>
                            <hr>
                            <div class="road-bottom flex-full-ngap">
                                <div class="bottom-start">
                                    <a> مقال عن اللغة </a>
                                    <a> خطة الدراسة </a>
                                </div>
                                <div class="bottom-end">
                                    <a> Updated in 2021 </a>
                                </div>
                            </div>           
                        </div>
                        <div class="road-box-part">
                            <h3> <bdi> HTML & CSS أربع تطبيقات باستخدام  </bdi> </h3>
                            <p> لاختبار المعرفة والمعلومات التي لديك  </p>
                            <hr>
                            <div class="road-bottom flex-full-ngap">
                                <div class="bottom-start">
                                    <a> مقال عن التطبيقات </a>
                                </div>
                                <div class="bottom-end">
                                    <a> Updated in 2021 </a>
                                </div>
                            </div>           
                        </div>
                        <div class="road-box-part">
                            <h3> <bdi> JavaScript تعلم لغة </bdi> </h3>
                            <p> <bdi>يحتوي على أهم المعلومات عن اللغة Bootcamp </bdi>   </p>
                            <hr>
                            <div class="road-bottom flex-full-ngap">
                                <div class="bottom-start">
                                    <a> مقال عن اللغة </a>
                                    <a> خطة الدراسة </a>
                                </div>
                                <div class="bottom-end">
                                    <a> Updated in 2021 </a>
                                </div>
                            </div>           
                        </div>
                        <div class="road-box-part">
                            <h3> <bdi> JavaScript تطبيقات </bdi>  </h3>
                            <p> لاختبار المعرفة والمعلومات التي لديك   </p>
                            <hr>
                            <div class="road-bottom flex-full-ngap">
                                <div class="bottom-start">
                                    <a> مقال عن التطبيقات  </a>
                                </div>
                                <div class="bottom-end">
                                    <a> Updated in 2021 </a>
                                </div>
                            </div>           
                        </div>
                        <div class="road-box-part">
                            <h3> <bdi> JavaScript عمل موقع باستخدام  </bdi>  </h3>
                            <p> بدون استخدام مكتبة أو اطار عمل  </p>
                            <p class="note"> سيكون مستمرا الى نهاية المسار</p>
                            <hr>
                            <div class="road-bottom flex-full-ngap">
                                <div class="bottom-start">
                                    <a> مقال </a>
                                </div>
                                <div class="bottom-end">
                                    <a> Updated in 2021 </a>
                                </div>
                            </div>           
                        </div>
                    </div>
                </div>
            </div>
            <div class="road-box ">
                <h2 class="road-box-heading"> موقع متجاوب للشاشات المختلفة</h2>
                <div class="road-box-details ">
                    <div class="vertical-line"></div>
                    <div class="road-box-parts">
                        <div class="road-box-part">
                            <h3> عمل موقع متجاوب بدون مكتبة </h3>
                            <p> طريقة عمل موقع متجاوب بدون استخدام مكتبة </p>
                            <hr>
                            <a> مقال  </a>
                        </div>
                        <div class="road-box-part">
                            <h3> كيفية عمل نفس الشئ باستخدام مكتبة</h3>
                            <p> <bdi> Bootstrap مثل مكتبة </bdi>  </p>
                            <hr>
                            <a> مقال  </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="road-box">
                <h2 class="road-box-heading"> تعلم المهارات المتقدمة </h2>
                <div class="road-box-details">
                    <div class="vertical-line"></div>
                    <div class="road-box-parts">
                        <div class="road-box-part">
                            <h3> <bdi> SASS تعلم لغة  </bdi>  </h3>
                            <p> تساعدك في حفظ الوقت لان فيها الكثير من المميزات </p>
                            <hr>
                            <div class="road-bottom flex-full-ngap">
                                <div class="bottom-start">
                                    <a> مقال عن اللغة </a>
                                    <a> خطة الدراسة </a>
                                </div>
                                <div class="bottom-end">
                                    <a> Updated in 2021 </a>
                                </div>
                            </div>           
                        </div>
                        <div class="road-box-part">
                            <h3>  Pugjs </h3>
                            <p> <bdi> HTML  يساعدك في كتابة  </bdi>  </p>
                            <hr>
                            <a> مقال  </a>
                        </div>
                        <div class="road-box-part">
                            <h3>  Gulpjs </h3>
                            <p> لكي يقوم باعمالك المتكرره </p>
                            <hr>
                            <a> مقال   </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="road-box">
                <h2 class="road-box-heading"> <bdi> JavaScript Framework تعلم</bdi> </h2>
                <div class="road-box-details">
                    <div class="vertical-line"></div>
                    <div class="road-box-parts">
                        <div class="road-box-part">
                            <h3> <bdi> JavaScript Framework تعلم  </bdi> </h3>
                            <p> اختار واحد منهم مناسب مع سوق العمل  </p>
                            <hr>
                                     
                        </div>
                    </div>
                </div>
            </div>
            <div class="road-box ">
                <h2 class="road-box-heading"> مهارات عامه لكنها مهمة </h2>
                <div class="road-box-details ">
                    <div class="vertical-line"></div>
                    <div class="road-box-parts">
                        <div class="road-box-part">
                            <h3>  Git & Github</h3>
                            <p> <bdi> الخاص بك ولكي تبرمج مع اصدقائك code لحفظ  </bdi> </p>
                            <hr>
                            <a> مقال  </a>
                        </div>
                        <div class="road-box-part">
                            <h3> Command Line </h3>
                            <p> لتطور من مستواك بصورة عامه </p>
                            <hr>
                            <a> مقال  </a>
                        </div>
                    </div>
                </div>
            </div>                        
        </div>
    </section>
    <!-- footer -->
    <footer class="flex-full main-padd">
        <div class="copy-right">
            <p> Made with <i class="fas fa-heart"></i> by Rabee Khalifa &copy;2023</p>
        </div>
        <div class="icons flex-full">
            <a href=""> <i class="fab fa-facebook-f fa-lg"></i> </a>
            <a href=""> <i class="fab fa-linkedin-in fa-lg"></i> </a>
            <a href=""> <i class="fab fa-github-alt fa-lg"></i> </a>
            <a href=""> <i class="fab fa-whatsapp fa-lg"></i> </a>
        </div>
    
    </footer>     
    <script src="../main/main.js"></script>
    
</body>
</html>   