<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Front End Roadmap </title>
    <!-- font-awesome-cdn-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
     integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- general-css-file -->
    <link rel="stylesheet" href="../general.css">
    <!-- specific-css-file -->  
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- Header-section -->
    <header class="flex-full main-padd header-bar">
        <a href="../../index.html"> 
            <i class="fas fa-graduation-cap header-logo light"></i>
            <span class="light logo"> Zero Academy </span>
        </a>
        <nav class="flex-full nav-lists">
            <div class="nav-item nav-item-drop light flex-full">
                <span > Learn Now </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="../learning articles/index.html"> Learning Topics </a>
                    <a href="../learning courses/index.html"> Learning Courses </a>
                    <a href="../learning cources assignments/index.html"> Learning Courses Exercies </a>
                    <a href="../programming challenges/index.html"> Programming Challenges </a>
                    <a href="../developer tools/index.html"> Developers Tools </a>
                    <a href="../problems and solutions list/index.html"> Proplem solving Websites </a>
                </div>
            </div>
            <div class="nav-item nav-item-drop light flex-full" >
                <span> Learning Guides </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="./index.html"> Front End RoadMap </a>
                </div>
            </div>    
            <div class="nav-item nav-item-drop light flex-full">
                <span>From The Chanel</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="../important chanel video/index.html"> Most Importants episode </a>
                    <a href="../alzero week/index.html"> Alzero week </a>
                    <a href="../jorney with life/index.html"> Jorney with Life </a>
                    <a href="../dealing with hosting/index.html"> Dealing with Hosting </a>
                    <a href="../problems and solutions list/index.html"> Important Problems & Solutions </a>
                </div>
            </div>    
            <div class="nav-item nav-item-drop light flex-full">
                <span>Mixed</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-mix  flex-full">
                    <a href="../meeting lists/index.html"> Meeting List </a>
                    <a href="../alzero-advices/index.html"> Alzero Advices </a>
                    <a href="../book snippetes/index.html"> Book's Snipptes </a>
                </div>
            </div> 
            <div class="nav-item light flex-full" >
                <a href="./arb.html" title="same-page-in-Arabic" class="lang"> Arabic </a> 
            </div>     
        </nav>
        <div class="mob">
            <i class="fa fa-bars light" onclick="showNav()"></i>
        </div> 
    </header>
    <!-- main-section -->
    <main class="common-main flex-full">
        <div class="common-main-container light">
            <h1>  Front-End Developer Roadmap</h1>
            <p> The Roadmap that will make you successfull Front End Developer</p>
        </div>
    </main>
    <!-- roadmap-section -->
    <section class="roadmap-sec">
        <div class="road-container ">
            <div class="road-box ">
                <h2 class="road-box-heading"> Questions and set the Tools before start Learning </h2>
                <div class="road-box-details ">
                    <div class="vertical-line"></div>
                    <div class="road-box-parts">
                        <div class="road-box-part">
                            <h3> Important Tools and Settings to start</h3>
                            <p> you will know the Tools & Applications that you need to start in this field 
                                like Code Editor , Web Browser ...
                            </p>
                            <hr>
                            <a> Tools & Settings </a>
                        </div>
                        <div class="road-box-part">
                            <h3> Important Questions new learner asks before start</h3>
                            <p> Before start Learning there are a lot of Questions in the mind of Learner
                            </p>
                            <hr>
                            <a> Important Questions </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="road-box ">
                <h2 class="road-box-heading"> Learn the Basics </h2>
                <div class="road-box-details ">
                    <div class="vertical-line"></div>
                    <div class="road-box-parts">
                        <div class="road-box-part">
                            <h3> Learn HTML Langauge </h3>
                            <p> This is the start of Learning Jorney in Web Development ... </p>
                            <hr>
                            <div class="road-bottom flex-full-ngap">
                                <div class="bottom-start">
                                    <a> About The Langauge </a>
                                    <a> Study Plan </a>
                                </div>
                                <div class="bottom-end">
                                    <a> Updated in 2021 </a>
                                </div>
                            </div>           
                        </div>
                        <div class="road-box-part">
                            <h3> Learn CSS Langauge </h3>
                            <p> To make Website attractive you will need this amazing langauge ... </p>
                            <hr>
                            <div class="road-bottom flex-full-ngap">
                                <div class="bottom-start">
                                    <a> About The Langauge </a>
                                    <a> Study Plan </a>
                                </div>
                                <div class="bottom-end">
                                    <a> Updated in 2021 </a>
                                </div>
                            </div>           
                        </div>
                        <div class="road-box-part">
                            <h3> Four Applications with HTML & CSS </h3>
                            <p> To apply your knowledge , and see how is it going  </p>
                            <hr>
                            <div class="road-bottom flex-full-ngap">
                                <div class="bottom-start">
                                    <a> About The Applications </a>
                                </div>
                                <div class="bottom-end">
                                    <a> Updated in 2021 </a>
                                </div>
                            </div>           
                        </div>
                        <div class="road-box-part">
                            <h3> Learn JavaScript Langauge </h3>
                            <p> Bootcamp contains most of things you need to know about this langauge  </p>
                            <hr>
                            <div class="road-bottom flex-full-ngap">
                                <div class="bottom-start">
                                    <a> About The Langauge </a>
                                    <a> Study Plan </a>
                                </div>
                                <div class="bottom-end">
                                    <a> Updated in 2021 </a>
                                </div>
                            </div>           
                        </div>
                        <div class="road-box-part">
                            <h3> JavaScript Applications </h3>
                            <p> To apply your knowledge , and see how is it going  </p>
                            <hr>
                            <div class="road-bottom flex-full-ngap">
                                <div class="bottom-start">
                                    <a> About The Applications </a>
                                </div>
                                <div class="bottom-end">
                                    <a> Updated in 2021 </a>
                                </div>
                            </div>           
                        </div>
                        <div class="road-box-part">
                            <h3> Learn how to make Website with Vanila JavaScript </h3>
                            <p> Without any use of Framework or Library  </p>
                            <p class="note"> this will be along with you through the Roadmap</p>
                            <hr>
                            <div class="road-bottom flex-full-ngap">
                                <div class="bottom-start">
                                    <a> About The Website </a>
                                </div>
                                <div class="bottom-end">
                                    <a> Updated in 2021 </a>
                                </div>
                            </div>           
                        </div>
                    </div>
                </div>
            </div>
            <div class="road-box ">
                <h2 class="road-box-heading"> Responsive Website and Frameworks</h2>
                <div class="road-box-details ">
                    <div class="vertical-line"></div>
                    <div class="road-box-parts">
                        <div class="road-box-part">
                            <h3> Make Responsive Website without Framework </h3>
                            <p> Learn how to make Responsive without Framework </p>
                            <hr>
                            <a> About it  </a>
                        </div>
                        <div class="road-box-part">
                            <h3> How to do the same with Framework & Library</h3>
                            <p> For example , make Responsive website with Bootstrap </p>
                            <hr>
                            <a> About it  </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="road-box">
                <h2 class="road-box-heading"> Learn the Advanced Skills </h2>
                <div class="road-box-details">
                    <div class="vertical-line"></div>
                    <div class="road-box-parts">
                        <div class="road-box-part">
                            <h3> Learn SASS Langauge </h3>
                            <p> This Langauge will save time and it has a lot of good traits </p>
                            <hr>
                            <div class="road-bottom flex-full-ngap">
                                <div class="bottom-start">
                                    <a> About The Langauge </a>
                                    <a> Study Plan </a>
                                </div>
                                <div class="bottom-end">
                                    <a> Updated in 2021 </a>
                                </div>
                            </div>           
                        </div>
                        <div class="road-box-part">
                            <h3> Learn Pugjs </h3>
                            <p> To help you with HTML </p>
                            <hr>
                            <a> About it  </a>
                        </div>
                        <div class="road-box-part">
                            <h3> Learn Gulpjs </h3>
                            <p> to help you by automate your tasks </p>
                            <hr>
                            <a> About it  </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="road-box">
                <h2 class="road-box-heading"> Learn JavaScript Framework </h2>
                <div class="road-box-details">
                    <div class="vertical-line"></div>
                    <div class="road-box-parts">
                        <div class="road-box-part">
                            <h3> Learn JavaScript Framework or Library </h3>
                            <p> Choose one of them which suitable with your market area </p>
                            <hr>
                                     
                        </div>
                    </div>
                </div>
            </div>
            <div class="road-box ">
                <h2 class="road-box-heading"> General Skills but so important !! </h2>
                <div class="road-box-details ">
                    <div class="vertical-line"></div>
                    <div class="road-box-parts">
                        <div class="road-box-part">
                            <h3> Learn Git & Github</h3>
                            <p> to save and deploy your website and to communicate with your team </p>
                            <hr>
                            <a> About it </a>
                        </div>
                        <div class="road-box-part">
                            <h3> Command Line </h3>
                            <p> To improve your level in Development </p>
                            <hr>
                            <a> About it </a>
                        </div>
                    </div>
                </div>
            </div>                        
        </div>
    </section>
    <!-- footer -->
    <footer class="flex-full main-padd">
        <div class="copy-right">
            <p> Made with <i class="fas fa-heart"></i> by Rabee Khalifa &copy;2023</p>
        </div>
        <div class="icons flex-full">
            <a href=""> <i class="fab fa-facebook-f fa-lg"></i> </a>
            <a href=""> <i class="fab fa-linkedin-in fa-lg"></i> </a>
            <a href=""> <i class="fab fa-github-alt fa-lg"></i> </a>
            <a href=""> <i class="fab fa-whatsapp fa-lg"></i> </a>
        </div>
    
    </footer>     
    <script src="../main/main.js"></script>
    
</body>
</html>   