<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> رحلتي مع الحياة </title>
    <!-- font-awesome-cdn-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
     integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- general-css-file -->
    <link rel="stylesheet" href="../general.css">  
    <!-- css-file-from-learning-articles-page -->  
    <link rel="stylesheet" href="../learning articles/style.css">
    <!-- specific-css-file -->
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <!-- Header-section -->
    <header class="flex-full main-padd header-bar">
        <a href="../main/mainarb.html"> 
            <i class="fas fa-graduation-cap header-logo light"></i>
            <span class="light logo"> أكاديمية الزيرو </span>
        </a>
        <nav class="flex-full nav-lists">
            <div class="nav-item light flex-full">
                <span > تعلم الان </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="../learning articles/learningArticlearb.html">مواضيع الدراسة</a>
                    <a href="../learning courses/arb.html"> الدورات التدريبية </a>
                    <a href="../learning cources assignments/arb.html"> تمارين الدورات</a>
                    <a href="../programming challenges/arb.html"> تحديات برمجية </a>
                    <a href="../developer tools/arb.html"> ادوات المطورين </a>
                    <a href="../problem sites/arb.html"> مواقع حل المساىل البرمجية </a>
                </div>
            </div>
            <div class="nav-item light flex-full" >
                <span> دليل التعليم </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="../front end roadmap/arb.html">  خارطة طريق مطور الواجهة الامامية</a>                    
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span>من القناة</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href="../important chanel video/arb.html"> أهم الحلقات </a>
                    <a href="../alzero week/arb.html"> أسبوع الزيرو </a>
                    <a href="./arb.html"> رحلتي مع الحياة </a>
                    <a href="../dealing with hosting/arb.html"> الاستضافة </a>
                    <a href="../problems and solutions list/arb.html"> اهم المسائل و الحلول </a>
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span> منوع </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href="../meeting lists/arb.html"> قائمة اللقاءات </a>
                    <a href="../alzero-advices/arb.html"> نصائح الزيرو </a>
                    <a href="../book snippetes/arb.html"> معلومات من الكتب </a>
                </div>
            </div> 
            <div class="nav-item light flex-full" >
                <a href="./index.html" title="same-page-in-English" class="lang"> الانجليزيه </a> 
            </div>     
        </nav>
        <div class="mob">
            <i class="fa fa-bars light" onclick="showNav()"></i>
        </div> 
    </header>
    <!-- main-section -->
    <main class="common-main flex-full">
        <div class="common-main-container light">
            <h1> رحلتي مع الحياة</h1>
            <p>  أهم التجارب والمشاكل التي مرت علي في حياتي ستجدها هنا </p>
        </div>
    </main>
    <!-- big-section -->
    <section class="big-sec"> 
        <div class="big-sec-container flex-full">
         <div class="main-sec-container">   
            <div class="main-side">  
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (13).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a href=""> أول عمل لي وانا عمري 6 سنوات </a>
                                <p> قصة فيها كثير من العبر و تبين دور الحافز </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a href="" class="watch"> شاهد الفيديو </a>
                                <span class="dur"> 6 : 07 </span>
                            </div> 
                        </div>                       
                    </div>    
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault.jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a href=""> التعلم و التجارب  </a>
                                <p> الاعتماد على النفس </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a href="" class="watch"> شاهد الفيديو </a>
                                <span class="dur"> 3 : 00 </span>
                            </div> 
                        </div>                       
                    </div>
                    
                    
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (1).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a href=""> المنتديات وبداية العمل الفعلي </a>
                                <p> موقعي الخاص </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a href="" class="watch"> شاهد الفيديو </a>
                                <span class="dur"> 9 : 20 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (2).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a href=""> برمجة اول لعبه </a>
                                <p> البرمجة و الحياة </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a href="" class="watch"> شاهد الفيديو </a>
                                <span class="dur"> 10 : 30 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (3).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a href=""> مشاكل الالعاب الاونلاين وتجاربي معها </a>
                                <p> كيف تاخد من وقتك و تغير حياتك؟ </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a href="" class="watch"> شاهد الفيديو </a>
                                <span class="dur"> 23 : 40 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (4).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a href=""> الفوائد من المشاكل </a>
                                <p>  نعم انها الحقيقة !! </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a href="" class="watch"> شاهد الفيديو </a>
                                <span class="dur"> 6 : 07 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (5).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a href=""> كيف استفدت من البرمجة؟ </a>
                                <p> وعلاقتها بباقي المجالات </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a href="" class="watch"> شاهد الفيديو </a>
                                <span class="dur"> 16 : 05 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (6).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a href=""> فائدة البحث </a>
                                <p> قصص كثيرة </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a href="" class="watch"> شاهد الفيديو </a>
                                <span class="dur"> 6 : 07 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (7).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a href=""> عملت مقابلة عمل مع سوبرمان </a>
                                <p> ... لديه مهارات كثيرة وما النصائح </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a href="" class="watch"> شاهد الفيديو </a>
                                <span class="dur"> 8 : 07 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (8).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a href=""> 100 مليون مشاهده </a>
                                <p> كيف تصل لاهدافك؟ </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a href="" class="watch"> شاهد الفيديو </a>
                                <span class="dur"> 6 : 07 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
            
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (9).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a href=""> رحلة العمل للسعوديه </a>
                                <p> المشاكل التي واجهتني </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a href="" class="watch"> شاهد الفيديو </a>
                                <span class="dur"> 8 : 09 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (10).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a href=""> قصة اول عمل لي في الخليج </a>
                                <p> والتجارب التي مريت بها </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a href="" class="watch"> شاهد الفيديو </a>
                                <span class="dur"> 15 : 21 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (11).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a href=""> العمل الثاني لي </a>
                                <p> وقصة زواجي </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a href="" class="watch"> شاهد الفيديو </a>
                                <span class="dur"> 6 : 07 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (13).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a href=""> أسوا بيئة عمل قبل البرمجة </a>
                                <p>  لا يمكنك ان تتخيل !! </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a href="" class="watch"> شاهد الفيديو </a>
                                <span class="dur"> 19 : 09 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <!-- next-stories-section -->
                <div class="next-stories-declaration">
                    <p> القصص القادمه ان شاء الله </p>
                </div>
                <div class="next-stories-container">
                    <div class="next-story">
                        <p> ضعف الثقة بالنفس </p>
                    </div>
                    <div class="next-story">
                        <p> الشغف و الوصول للاهداف </p>
                    </div>
                    <div class="next-story">
                        <p> تعلم كيف تتطالب بحقوقك </p>
                    </div>
                    <div class="next-story">
                        <p> اول عمل في مجال البرمجه </p>
                    </div>
                </div>
            </div>   
          </div>  
        </div>        
    </section>
    <!-- footer -->
    <footer class="flex-full main-padd">
        <div class="copy-right">
            <p> Made with <i class="fas fa-heart"></i> by Rabee Khalifa &copy;2023</p>
        </div>
        <div class="icons flex-full">
            <a href=""> <i class="fab fa-facebook-f fa-lg"></i> </a>
            <a href=""> <i class="fab fa-linkedin-in fa-lg"></i> </a>
            <a href=""> <i class="fab fa-github-alt fa-lg"></i> </a>
            <a href=""> <i class="fab fa-whatsapp fa-lg"></i> </a>
        </div>
    
    </footer>  
    <!-- main-js-file -->
    <script src="../main/main.js"></script>
</body>
</html>