<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Jorney With Life </title>
    <!-- font-awesome-cdn-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
     integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- general-css-file -->
    <link rel="stylesheet" href="../general.css">
    <!-- css-file-from-learning-articles-page -->  
    <link rel="stylesheet" href="../learning articles/style.css">
    <!-- specific-css-file -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Header-section -->
    <header class="flex-full main-padd header-bar">
        <a href="../../index.html"> 
            <i class="fas fa-graduation-cap header-logo light"></i>
            <span class="light logo"> Zero Academy </span>
        </a>
        <nav class="flex-full nav-lists">
            <div class="nav-item light flex-full">
                <span > Learn Now </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="../learning articles/index.html"> Learning Topics </a>
                    <a href="../learning courses/index.html"> Learning Courses </a>
                    <a href="../learning cources assignments/index.html"> Learning Courses Exercies </a>
                    <a href="../programming challenges/index.html"> Programming Challenges </a>
                    <a href="../developer tools/index.html"> Developers Tools </a>
                    <a href="../problem sites/index.html"> Proplem solving Websites </a>
                </div>
            </div>
            <div class="nav-item light flex-full" >
                <span> Learning Guides </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="../front end roadmap/index.html"> Front End RoadMap </a>  
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span>From The Chanel</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="../important chanel video/index.html"> Most Importants episode </a>
                    <a href="../alzero week/index.html"> Alzero week </a>
                    <a href="./index.html"> Jorney with Life </a>
                    <a href="../dealing with hosting/index.html"> Dealing with Hosting </a>
                    <a href="../problems and solutions list/index.html"> Important Problems & Solutions </a>
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span>Mixed</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-mix  flex-full">
                    <a href="../meeting lists/index.html">  Meeting List</a>
                    <a href="../alzero-advices/index.html"> Alzero Advices </a>
                    <a href="../book snippetes/index.html"> Book's Snipptes </a>
                </div>
            </div> 
            <div class="nav-item light flex-full" >
                <a href="./arb.html" title="same-page-in-Arabic" class="lang"> العربية </a> 
            </div>     
        </nav>
        <div class="mob">
            <i class="fa fa-bars light" onclick="showNav()"></i>
        </div> 
    </header>
    <!-- main-section -->
    <main class="common-main flex-full">
        <div class="common-main-container light">
            <h1> Jorney with Life </h1>
            <p> Proplems and Experiences i encountered in my life to take advice from it </p>
        </div>
    </main>
    <!-- big-section -->
    <section class="big-sec"> 
        <div class="big-sec-container flex-full">
         <div class="main-sec-container">   
            <div class="main-side">  
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (13).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> My first work as 6 years old kid </a>
                                <p> Story full of advices and how Rewards effect.. </p>
                            </div>
                            <div class="watch-parent flex-full-ngap">
                                <a class="watch"> Watch the Video </a>
                                <span class="dur"> 6 : 07 </span>
                            </div> 
                        </div>                       
                    </div>    
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault.jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> Learning and Experiments  </a>
                                <p> Why you should try yourself ? </p>
                            </div>
                            <div class="watch-parent flex-full-ngap">
                                <a class="watch"> Watch the Video </a>
                                <span class="dur"> 3 : 00 </span>
                            </div> 
                        </div>                       
                    </div>
                    
                    
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (1).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> Real work starts </a>
                                <p> My speical website </p>
                            </div>
                            <div class="watch-parent flex-full-ngap">
                                <a class="watch"> Watch the Video </a>
                                <span class="dur"> 9 : 20 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (2).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> I made my first game </a>
                                <p> What i have learned? </p>
                            </div>
                            <div class="watch-parent flex-full-ngap">
                                <a class="watch"> Watch the Video </a>
                                <span class="dur"> 10 : 30 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (3).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> Oniline games problems </a>
                                <p> How much it take from your life? .. </p>
                            </div>
                            <div class="watch-parent flex-full-ngap">
                                <a class="watch"> Watch the Video </a>
                                <span class="dur"> 23 : 40 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (4).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> The benefits from problems </a>
                                <p> Yes it's true ..... </p>
                            </div>
                            <div class="watch-parent flex-full-ngap">
                                <a class="watch"> Watch the Video </a>
                                <span class="dur"> 6 : 07 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (5).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> How programming helped me ?</a>
                                <p> I used it in different fields.... </p>
                            </div>
                            <div class="watch-parent flex-full-ngap">
                                <a class="watch"> Watch the Video </a>
                                <span class="dur"> 16 : 05 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (6).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> Searching benefits </a>
                                <p> This video full of stories </p>
                            </div>
                            <div class="watch-parent flex-full-ngap">
                                <a class="watch"> Watch the Video </a>
                                <span class="dur"> 6 : 07 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (7).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> I made interview with superman </a>
                                <p> This man's skills out of this world...!! </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a class="watch"> Watch the Video </a>
                                <span class="dur"> 8 : 07 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (8).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> 100 million views !! </a>
                                <p> How to reach your goals? </p>
                            </div>
                            <div class="watch-parent flex-full-ngap">
                                <a class="watch"> Watch the Video </a>
                                <span class="dur"> 6 : 07 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
            
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (9).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> Traveling for working to Saudi Arabia </a>
                                <p> Problems of changing places </p>
                            </div>
                            <div class="watch-parent flex-full-ngap">
                                <a class="watch"> Watch the Video </a>
                                <span class="dur"> 8 : 09 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (10).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> Story of my first job in Saudi Arabia </a>
                                <p> Experiences and ..... </p>
                            </div>
                            <div class="watch-parent flex-full-ngap">
                                <a class="watch"> Watch the Video </a>
                                <span class="dur"> 15 : 21 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (11).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> My second job </a>
                                <p> Also i married at that time </p>
                            </div>
                            <div class="watch-parent flex-full-ngap">
                                <a class="watch"> Watch the Video </a>
                                <span class="dur"> 6 : 07 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/my life stories/maxresdefault (13).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> The worst job enviornment before Programming </a>
                                <p> You can't imagine!... </p>
                            </div>
                            <div class="watch-parent flex-full-ngap">
                                <a class="watch"> Watch the Video </a>
                                <span class="dur"> 19 : 09 </span>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <!-- next-stories-section -->
                <div class="next-stories-declaration">
                    <p> The next Stories if Allah wills </p>
                </div>
                <div class="next-stories-container">
                    <div class="next-story">
                        <p> Self Confidence </p>
                    </div>
                    <div class="next-story">
                        <p> How passion can drive you to achieve your goals? </p>
                    </div>
                    <div class="next-story">
                        <p> Why you should claim what belong to you> </p>
                    </div>
                    <div class="next-story">
                        <p> My first Programming job </p>
                    </div>
                </div>
            </div>   
          </div>  
        </div>        
    </section>
    <!-- footer -->
    <footer class="flex-full main-padd">
        <div class="copy-right">
            <p> Made with <i class="fas fa-heart"></i> by Rabee Khalifa &copy;2023</p>
        </div>
        <div class="icons flex-full">
            <a href=""> <i class="fab fa-facebook-f fa-lg"></i> </a>
            <a href=""> <i class="fab fa-linkedin-in fa-lg"></i> </a>
            <a href=""> <i class="fab fa-github-alt fa-lg"></i> </a>
            <a href=""> <i class="fab fa-whatsapp fa-lg"></i> </a>
        </div>
    
    </footer>  
    <!-- main-js-file -->
    <script src="../main/main.js"></script>
</body>
</html>