/* main-side-section */
.main-sec-container{
    width: 70%;
    margin: auto;
    padding : 30px 0px;
}
.top-container.flex-full-ngap{
    justify-content: unset;
    align-items: flex-start;
    gap: 30px;
}
.top-container > div{
    width: 100%;
}
.main-side-box .top-container img{
    width: 200px;
    height: 120px;
}
.watch{
    padding: 10px;
    background-color: var(--main-color);
    color: white;
}
.dur{
    background-color: rgb(211, 208, 211);
    padding: 5px;
}
/* next-stories-section */
.next-stories-declaration{
    text-align: center;
    background-color: white;
    padding: 9px 0px;
}
.next-stories-container{
    margin: 30px 0px;
    background-color: white;
    padding: 25px;
}
.next-story{
    background-color: rgb(223, 221, 223);
    padding: 10px;
    margin-bottom: 10px;
}
/* media-query */
@media(max-width: 768px){
    .top-container.flex-full-ngap{
        flex-direction: column;
    }
    .main-side-box .top-container img{
        width: 100%;
        height: 200px;
    }
}