<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Zero One / Learning Courses Assignments </title>
    <!-- font-awesome-cdn-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
     integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- general-css-file -->
    <link rel="stylesheet" href="../general.css">  
    <!-- the-same-css-styles-from-learning-cources-css-file -->
    <link rel="stylesheet" href="../learning courses/style.css">  
</head>
<body>
    <!-- Header-section -->
    <header class="flex-full main-padd header-bar">
        <a href="main.html"> 
            <i class="fas fa-graduation-cap header-logo light"></i>
            <span class="light logo"> Zero Academy </span>
        </a>
        <nav class="flex-full nav-lists">
            <div class="nav-item nav-item-drop light flex-full">
                <span > Learn Now </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="../learning articles/index.html"> Learning Topics </a>
                    <a href="../learning courses/index.html"> Learning Courses </a>
                    <a href="./index.html"> Learning Courses Exercies </a>
                    <a href="../programming challenges/index.html"> Programming Challenges </a>
                    <a href="../developer tools/index.html"> Developers Tools </a>
                    <a href="../problem sites/index.html"> Proplem solving Websites </a>
                </div>
            </div>
            <div class="nav-item nav-item-drop light flex-full" >
                <span> Learning Guides </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="../front end roadmap/index.html"> Front End RoadMap </a>
                </div>
            </div>    
            <div class="nav-item nav-item-drop light flex-full">
                <span>From The Chanel</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="../important chanel video/index.html"> Most Importants episode </a>
                    <a href="../alzero week/index.html"> Alzero week </a>
                    <a href="../jorney with life/index.html"> Jorney with Life </a>
                    <a href="../dealing with hosting/index.html"> Dealing with Hosting </a>
                    <a href="../problems and solutions list/index.html"> Important Problems & Solutions </a>
                </div>
            </div>    
            <div class="nav-item nav-item-drop light flex-full">
                <span>Mixed</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-mix  flex-full">
                    <a href="../meeting lists/index.html"> Meeting List </a>
                    <a href="../alzero-advices/index.html"> Alzero Advices </a>
                    <a href="../book snippetes/index.html"> Book's Snipptes </a>
                </div>
            </div> 
            <div class="nav-item light flex-full" >
                <a href="./arb.html" title="same-page-in-Arabic" class="lang"> Arabic </a> 
            </div>     
        </nav>
        <div class="mob">
            <i class="fa fa-bars light" onclick="showNav()"></i>
        </div> 
    </header>
    <!-- main-section -->
    <main class="common-main flex-full">
        <div class="common-main-container light">
            <h1> Learning Courses Assignments</h1>
            <p> All Homeworks and Assignments to ensure you understand the lectures</p>
        </div>
    </main>
    <!-- courses-section -->
    <section class="courses main-padd">
        <div class="courses-container">
            <!-- render-by-javascript -->
                            
        </div>
    </section>
    <!-- footer -->
    <footer class="flex-full main-padd">
        <div class="copy-right">
            <p> Made with <i class="fas fa-heart"></i> by Rabee Khalifa &copy;2023</p>
        </div>
        <div class="icons flex-full">
            <a href=""> <i class="fab fa-facebook-f fa-lg"></i> </a>
            <a href=""> <i class="fab fa-linkedin-in fa-lg"></i> </a>
            <a href=""> <i class="fab fa-github-alt fa-lg"></i> </a>
            <a href=""> <i class="fab fa-whatsapp fa-lg"></i> </a>
        </div>
    
    </footer>  
    <!-- main-js-file -->
    <script src="../main/main.js"></script>
    <!-- specific-js-file-for-this-index -->
    <script src="./script.js"></script>