<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> التعامل مع الاستضافه </title>
    <!-- font-awesome-cdn-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
     integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- general-css-file -->
    <link rel="stylesheet" href="../general.css">  
    <!-- css-file-from-learning-articles-page -->  
    <link rel="stylesheet" href="../learning articles/style.css">
    <!-- specific-css-file -->
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <!-- Header-section -->
    <header class="flex-full main-padd header-bar">
        <a href="../main/mainarb.html"> 
            <i class="fas fa-graduation-cap header-logo light"></i>
            <span class="light logo"> أكاديمية الزيرو </span>
        </a>
        <nav class="flex-full nav-lists">
            <div class="nav-item nav-item-drop  light flex-full">
                <span > تعلم الان </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href="../learning articles/learningArticlearb.html">مواضيع الدراسة</a>
                    <a href="../learning courses/arb.html"> الدورات التدريبية </a>
                    <a href="../learning courses/arb.html"> تمارين الدورات</a>
                    <a href="../programming challenges/arb.html"> تحديات برمجية </a>
                    <a href="../developer tools/arb.html"> ادوات المطورين </a>
                    <a href="../problem sites/arb.html"> مواقع حل المساىل البرمجية </a>
                </div>
            </div>
            <div class="nav-item nav-item-drop  light flex-full" >
                <span> دليل التعليم </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href="../front end roadmap/arb.html">  خارطة طريق مطور الواجهة الامامية</a>                    
                </div>
            </div>    
            <div class="nav-item nav-item-drop  light flex-full">
                <span>من القناة</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href="../important chanel video/arb.html"> أهم الحلقات </a>
                    <a href="../alzero week/arb.html"> أسبوع الزيرو </a>
                    <a href="../jorney with life/arb.html"> رحلتي مع الحياة </a>
                    <a href="./arb.html"> الاستضافة </a>
                    <a href="../problems and solutions list/arb.html"> اهم المسائل و الحلول </a>
                </div>
            </div>    
            <div class="nav-item nav-item-drop  light flex-full">
                <span> منوع </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href="../meeting lists/arb.html"> قائمة اللقاءات </a>
                    <a href="../alzero-advices/arb.html"> نصائح الزيرو </a>
                    <a href="../book snippetes/arb.html"> معلومات من الكتب </a>
                </div>
            </div> 
            <div class="nav-item light flex-full" >
                <a href="./index.html" title="same-page-in-English" class="lang"> الانجليزيه </a> 
            </div>     
        </nav>
        <div class="mob">
            <i class="fa fa-bars light" onclick="showNav()"></i>
        </div> 
    </header>
    <!-- main-section -->
    <main class="common-main flex-full">
        <div class="common-main-container light">
            <h1> التعامل مع الاستضافه </h1>
            <p>  معلومات هامه عن الاستضافه وكيف ترفع موقعك و ما هي اقضل الاستضاقات </p>
        </div>
    </main>
    <!-- big-section -->
    <section class="big-sec">
        <div class="advertise">
            <div class="host">
                <p> 
                    <bdi>
                        لحجز إستضافة من Hostinger عن طريقي إستخدم هذا<a >الرابط</a> وإستعمل كود الخصم التالي 
                        <span class="z-code"> Elzero </span>
                        ويمكنك مشاهدة شرح التعامل مع الإستضافة من <a> من هنا </a>
                    </bdi>
                </p>
            </div>
        </div> 
        <div class="big-sec-container flex-full">
         <div class="main-sec-container">   
            <div class="main-side">  
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/dealing with hosting/maxresdefault.jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> شراء الاستضافه والحجز لموقعك </a>
                                <p> كيفية اختيار افضل استضافه </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a class="watch"> شاهد الشرح </a>
                            </div> 
                        </div>                       
                    </div>    
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/dealing with hosting/maxresdefault (1).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> انشاء بريد الكتروني جديد على حسابك  </a>
                                <p> تعلم كيف تقوم بفعلها... </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a class="watch"> شاهد الشرح </a>
                            </div> 
                        </div>                       
                    </div>
                    
                    
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/dealing with hosting/maxresdefault (2).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> كيفية التعامل مع النطاقات الفرعيه </a>
                                <p> تعلم النطاقات الفرعيه</p>
                            </div>
                            <div class="flex-full-ngap">
                                <a class="watch"> شاهد الشرح </a>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/dealing with hosting/maxresdefault (3).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> كيفية استخدام اعادة التوجيه </a>
                                <p> متى نستخدمه؟ </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a class="watch"> شاهد الشرح </a>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/dealing with hosting/maxresdefault (4).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> تحميل اي نظام ادارة محتوى </a>
                                <p> الخطوات.... </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a class="watch"> شاهد الشرح </a>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/dealing with hosting/maxresdefault (5).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> كيفية عمل جدار ناري؟؟ </a>
                                <p> التحكم في صفحات الخطأ... </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a class="watch"> شاهد الشرح </a>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/dealing with hosting/maxresdefault (6).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a> تعديل اصدار PHP </a>
                                <p> والاضافات المهمه </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a class="watch"> شاهد الشرح </a>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/dealing with hosting/maxresdefault (12).jpg" alt="picture of youtube video">
                        <div>
                            <div class="side-info">
                                <a>  السماح والحظر عن طريق IP  </a>
                                <p> تعلم!! </p>
                            </div>
                            <div class="flex-full-ngap">
                                <a class="watch"> شاهد الشرح </a>
                            </div> 
                        </div>                       
                    </div>
                </div>
            </div>   
          </div>  
        </div>        
    </section>
    <!-- footer -->
    <footer class="flex-full main-padd">
        <div class="copy-right">
            <p> Made with <i class="fas fa-heart"></i> by Rabee Khalifa &copy;2023</p>
        </div>
        <div class="icons flex-full">
            <a href=""> <i class="fab fa-facebook-f fa-lg"></i> </a>
            <a href=""> <i class="fab fa-linkedin-in fa-lg"></i> </a>
            <a href=""> <i class="fab fa-github-alt fa-lg"></i> </a>
            <a href=""> <i class="fab fa-whatsapp fa-lg"></i> </a>
        </div>
    
    </footer>  
    <!-- main-js-file -->
    <script src="../main/main.js"></script>
    <!-- specific-js-file-for-this-index -->
    <script src="./script.js"></script>
</body>
</html>