<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Best Channel Videos </title>
    <!-- font-awesome-cdn-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
     integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- general-css-file -->
    <link rel="stylesheet" href="../general.css">
    <!-- css-file-from-learning-articles-page -->  
    <link rel="stylesheet" href="../learning articles/style.css">
    <!-- specific-css-file -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Header-section -->
    <header class="flex-full main-padd header-bar">
        <a href="main.html"> 
            <i class="fas fa-graduation-cap header-logo light"></i>
            <span class="light logo"> Zero Academy </span>
        </a>
        <nav class="flex-full nav-lists">
            <div class="nav-item light flex-full">
                <span > Learn Now </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href=""> Learning Topics </a>
                    <a href=""> Learning Courses </a>
                    <a href=""> Learning Courses Exercies </a>
                    <a href=""> Examples & Applications & Explaniations </a>
                    <a href=""> Programming Challenges </a>
                    <a href=""> Developers Tools </a>
                    <a href=""> Proplem solving Websites </a>
                </div>
            </div>
            <div class="nav-item light flex-full" >
                <span> Learning Guides </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href=""> Front End RoadMap </a>  
                </div>
            </div>
            <div class="nav-item light flex-full">
                <span> Learning Plan </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href=""> Html plan </a>
                    <a href=""> Css plan </a>
                    <a href=""> JavaScript plan </a>
                    <a href=""> TypeScript plan </a>
                    <a href=""> Sass plan </a>
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span>From The Chanel</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop flex-full">
                    <a href="./index.html"> Most Importants episode </a>
                    <a href=""> Alzero week </a>
                    <a href=""> Jorney with Life </a>
                    <a href=""> Dealing with Hosting </a>
                    <a href=""> Important Problems & Solutions </a>
                </div>
            </div>    
            <div class="nav-item light flex-full">
                <span>Mixed</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-mix  flex-full">
                    <a href=""> News </a>
                    <a href=""> Question & Answer </a>
                    <a href=""> Alzero Advices </a>
                    <a href=""> Book's Snipptes </a>
                    <a href=""> Books Reviwes </a>
                </div>
            </div> 
            <div class="nav-item light flex-full" >
                <a href="./arb.html" title="same-page-in-Arabic" class="lang"> العربية </a> 
            </div>     
        </nav>
        <div class="mob">
            <i class="fa fa-bars light" onclick="showNav()"></i>
        </div> 
    </header>
    <!-- main-section -->
    <main class="common-main flex-full">
        <div class="common-main-container light">
            <h1> Alzero Week </h1>
            <p> It's a series of videos contain the answers of questions i find on our Social Media Apps </p>
        </div>
    </main>
    <!-- big-section -->
    <section class="big-sec">
        <div class="advertise">
            <div class="godz flex-full"> 
                <p> we highly recomend learning programming basics course from Godezila Academy </p>
                <a href="" class="light"> here</a>
            </div>
            <div class="host">
                <p> 
                    to host your website on hostinger use this <a href="" >link</a> , use this code <span class="z-code "> Elzero </span>
                    and you can learn how to host your website from <a href=""> here </a>
                </p>
            </div>
        </div>    
        <div class="big-sec-container flex-full">
         <div class="main-sec-container">   
            <div class="main-side">  
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/alzero week/maxresdefault (14).jpg" alt="picture of youtube video">
                        <div class="side-info">
                            <a href=""> Alzero Week episode 14 </a>
                            <p> Answering on 8 questions </p>
                        </div>                        
                    </div>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 2622 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 23/5/2023 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/alzero week/maxresdefault (13).jpg" alt="picture of youtube video">
                        <div class="side-info">
                            <a href=""> Alzero Week episode 13 </a>
                            <p> Answering on 11 questions </p>
                        </div>                        
                    </div>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 2800 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 23/4/2023 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/alzero week/maxresdefault (12).jpg" alt="picture of youtube video">
                        <div class="side-info">
                            <a href=""> Alzero Week episode 12 </a>
                            <p> Answering on 18 questions </p>
                        </div>                        
                    </div>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 2622 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 23/2/2023 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/alzero week/maxresdefault (11).jpg" alt="picture of youtube video">
                        <div class="side-info">
                            <a href=""> Alzero Week episode 11 </a>
                            <p> Answering on 10 questions </p>
                        </div>                        
                    </div>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 3000 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 23/11/2022 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/alzero week/maxresdefault (10).jpg" alt="picture of youtube video">
                        <div class="side-info">
                            <a href=""> Alzero Week episode 10 </a>
                            <p> Answering on 11 questions </p>
                        </div>                        
                    </div>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 3200 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 23/10/2023 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/alzero week/maxresdefault (9).jpg" alt="picture of youtube video">
                        <div class="side-info">
                            <a href=""> Alzero Week episode 9 </a>
                            <p> Answering on 8 questions </p>
                        </div>                        
                    </div>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 2622 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 23/8/2023 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/alzero week/maxresdefault (8).jpg" alt="picture of youtube video">
                        <div class="side-info">
                            <a href=""> Alzero Week episode 8 </a>
                            <p> Answering on 8 questions </p>
                        </div>                        
                    </div>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 2622 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 23/5/2023 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/alzero week/maxresdefault (7).jpg" alt="picture of youtube video">
                        <div class="side-info">
                            <a href=""> Alzero Week episode 7 </a>
                            <p> Answering on 8 questions </p>
                        </div>                        
                    </div>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 3622 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 23/7/2023 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/alzero week/maxresdefault (6).jpg" alt="picture of youtube video">
                        <div class="side-info">
                            <a href=""> Alzero Week episode 6 </a>
                            <p> Answering on 8 questions </p>
                        </div>                        
                    </div>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 2622 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 23/5/2023 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="main-side-box">
                    <div class="top-container flex-full-ngap">
                        <img src="../../images/alzero week/maxresdefault (5).jpg" alt="picture of youtube video">
                        <div class="side-info">
                            <a href=""> Alzero Week episode 5 </a>
                            <p> Answering on 6 questions </p>
                        </div>                        
                    </div>
                    <hr>
                    <div class="icons flex-full">
                        <div>
                            <span> 2622 </span>
                            <i class="fas fa-eye"></i>
                        </div>
                        <div>
                            <span> 23/5/2023 </span>
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-side-box">
                <div class="top-container flex-full-ngap">
                    <img src="../../images/alzero week/maxresdefault (4).jpg" alt="picture of youtube video">
                    <div class="side-info">
                        <a href=""> Alzero Week episode 4 </a>
                        <p> Answering on 5 questions </p>
                    </div>                        
                </div>
                <hr>
                <div class="icons flex-full">
                    <div>
                        <span> 2622 </span>
                        <i class="fas fa-eye"></i>
                    </div>
                    <div>
                        <span> 23/5/2023 </span>
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
            </div>
            <div class="main-side-box">
                <div class="top-container flex-full-ngap">
                    <img src="../../images/alzero week/maxresdefault (3).jpg" alt="picture of youtube video">
                    <div class="side-info">
                        <a href=""> Alzero Week episode 3 </a>
                        <p> Answering on 4 questions </p>
                    </div>                        
                </div>
                <hr>
                <div class="icons flex-full">
                    <div>
                        <span> 2622 </span>
                        <i class="fas fa-eye"></i>
                    </div>
                    <div>
                        <span> 23/5/2023 </span>
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
            </div>
            <div class="main-side-box">
                <div class="top-container flex-full-ngap">
                    <img src="../../images/alzero week/maxresdefault (2).jpg" alt="picture of youtube video">
                    <div class="side-info">
                        <a href=""> Alzero Week episode 2 </a>
                        <p> Answering on 3 questions </p>
                    </div>                        
                </div>
                <hr>
                <div class="icons flex-full">
                    <div>
                        <span> 2622 </span>
                        <i class="fas fa-eye"></i>
                    </div>
                    <div>
                        <span> 23/5/2023 </span>
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
            </div>
            <div class="main-side-box">
                <div class="top-container flex-full-ngap">
                    <img src="../../images/alzero week/maxresdefault (1).jpg" alt="picture of youtube video">
                    <div class="side-info">
                        <a href=""> Alzero Week episode 1 </a>
                        <p> Answering on 2 questions </p>
                    </div>                        
                </div>
                <hr>
                <div class="icons flex-full">
                    <div>
                        <span> 2622 </span>
                        <i class="fas fa-eye"></i>
                    </div>
                    <div>
                        <span> 23/5/2023 </span>
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
            </div>
         </div>   
            <div class="secondary-side">
                <div class="secondary-side-box">
                    <i class="far fa-star"></i>
                    <span class="m-view"> Most Viewed</>
                    <hr>
                    <div class="m-view-anchor">
                        <a href=""> Alzero Week episode 1 </a>
                        
                        <a href=""> Alzero Week episode 12 </a>
                        
                        <a href=""> Alzero Week episode 14 </a>
                        
                        <a href=""> Alzero Week episode 8 </a>
                       
                    </div>
                    
                </div>
                <div class="secondary-side-box">
                    <i class="far fa-star"></i>
                    <span class="m-view"> Last Supporters</span>
                    <hr>
                    <div class="support-container">
                        <div class="supporter">
                            <img src="../../images/supporters/profile-15.jpg">
                            <div>
                                <p> Ahmed Mansor </p>
                                <p> 2023/7/20 </p>
                            </div>
                        </div>
                        <div class="supporter">
                            <img src="../../images/supporters/team1.webp">
                            <div>
                                <p> Will Davis </p>
                                <p> 2023/4/20 </p>
                            </div>
                        </div>
                        <div class="supporter">
                            <img src="../../images/supporters/team2.webp">
                            <div>
                                <p> Mohamed Ali </p>
                                <p> 2022/12/20 </p>
                            </div>
                        </div>
                        <div class="supporter">
                            <img src="../../images/supporters/team3.webp">
                            <div>
                                <p> Hani Musa </p>
                                <p> 2022/9/20 </p>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="secondary-side-box">
                    <i class="fas fa-calculator"></i>
                    <span class="m-view"> Statistics</>
                    <hr>
                    <div class="Stat-container">
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="far fa-file-alt"></i>
                                <span> Articles</span>
                            </div>
                            <span> 10 </span>
                        </div>
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="fas fa-laptop-code"></i>
                                <span> Learning paths</span>
                            </div>
                            <span> 10 </span>
                        </div>
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="fas fa-user"></i>
                                <span> Supporters</span>
                            </div>
                            <span> 10 </span>
                        </div>
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="far fa-question-circle"></i>
                                <span> Questions & Answers</span>
                            </div>
                            <span> 10 </span>
                        </div>
                    </div>
                </div>
                <div class="secondary-side-box sec-side-la">
                    <i class="far fa-file-alt"></i>
                    <span class="m-view"> Last Article</span>
                    <hr>
                    <a> Some Terms in Tech</a>
                    <img src="../../images/latest-articles/developer-terms.png" alt="Technology-Terms">
                </div>
            </div>
        </div>        
    </section>
    <!-- footer -->
    <footer class="flex-full main-padd">
        <div class="copy-right">
            <p> Made with <i class="fas fa-heart"></i> by Rabee Khalifa &copy;2023</p>
        </div>
        <div class="icons flex-full">
            <a href=""> <i class="fab fa-facebook-f fa-lg"></i> </a>
            <a href=""> <i class="fab fa-linkedin-in fa-lg"></i> </a>
            <a href=""> <i class="fab fa-github-alt fa-lg"></i> </a>
            <a href=""> <i class="fab fa-whatsapp fa-lg"></i> </a>
        </div>
    
    </footer>  
    <!-- main-js-file -->
    <script src="../main/main.js"></script>
</body>
</html>