<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> نصائح الزيرو </title>
    <!-- font-awesome-cdn-link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
     integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- general-css-file -->
    <link rel="stylesheet" href="../general.css">  
    <!-- learning-article-css-file -->
    <link rel="stylesheet" href="../learning articles/style.css"> 
</head>
<body>
    <!-- Header-section -->
    <header class="flex-full main-padd header-bar">
        <a href="../main/mainarb.html"> 
            <i class="fas fa-graduation-cap header-logo light"></i>
            <span class="light logo"> أكاديمية الزيرو </span>
        </a>
        <nav class="flex-full nav-lists">
            <div class="nav-item nav-item-drop  light flex-full">
                <span > تعلم الان </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href="../learning articles/learningArticlearb.html">مواضيع الدراسة</a>
                    <a href="../learning courses/arb.html"> الدورات التدريبية </a>
                    <a href="../learning cources assignments/arb.html"> تمارين الدورات</a>
                    <a href="../programming challenges/arb.html"> تحديات برمجية </a>
                    <a href="../developer tools/arb.html"> ادوات المطورين </a>
                    <a href="../problem sites/arb.html"> مواقع حل المساىل البرمجية </a>
                </div>
            </div>
            <div class="nav-item nav-item-drop  light flex-full" >
                <span> دليل التعليم </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href="../front end roadmap/arb.html">  خارطة طريق مطور الواجهة الامامية</a>                    
                </div>
            </div>    
            <div class="nav-item nav-item-drop  light flex-full">
                <span>من القناة</span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href="../important chanel video/arb.html"> أهم الحلقات </a>
                    <a href="../alzero week/arb.html"> أسبوع الزيرو </a>
                    <a href="../jorney with life/arb.html"> رحلتي مع الحياة </a>
                    <a href="../dealing with hosting/arb.html"> الاستضافة </a>
                    <a href="../problems and solutions list/arb.html"> اهم المسائل و الحلول </a>
                </div>
            </div>    
            <div class="nav-item nav-item-drop  light flex-full">
                <span> منوع </span>
                <i class="fas fa-chevron-down"></i>
                <div class="drop drop-c flex-full">
                    <a href="../meeting lists/arb.html"> قائمة اللقاءات </a>
                    <a href="./arb.html"> نصائح الزيرو </a>
                    <a href="../book snippetes/arb.html"> معلومات من الكتب </a>
                </div>
            </div> 
            <div class="nav-item light flex-full" >
                <a href="./index.html" title="same-page-in-English" class="lang"> الانجليزيه </a> 
            </div>     
        </nav>
        <div class="mob">
            <i class="fa fa-bars light" onclick="showNav()"></i>
        </div> 
    </header>
    <!-- main-section -->
    <main class="common-main flex-full">
        <div class="common-main-container light">
            <h1> نصائح الزيرو </h1>
            <p> النصاىح الموجودة على مواقع التواصل الاجتماعي </p>
        </div>
    </main>
    <!-- big-section -->
    <section class="big-sec">
        <div class="advertise">
            <div class="godz flex-full"> 
                <p> <bdi> نوصي وبشدة بكورس تعلم أساسات البرمجة من أكاديمية Codezilla  </bdi> </p>
                <a class="light"> من هنا</a>
            </div>
            <div class="host">
                <p> 
                    <bdi>
                        لحجز إستضافة من Hostinger عن طريقي إستخدم هذا<a>الرابط</a> وإستعمل كود الخصم التالي 
                        <span class="z-code"> Elzero </span>
                        ويمكنك مشاهدة شرح التعامل مع الإستضافة من <a> من هنا </a>
                    </bdi>
                </p>
            </div>
        </div>    
        <div class="big-sec-container flex-full">
            <div class="main-sec-container">   
                <div class="main-side"> 
                    <div class="main-side-box">
                        <a> جودة العمل </a>
                        <p> أهم من الكمية و العدد </p>
                        <hr>
                        <div class="icons flex-full">
                            <div>
                                <span> 45 </span>
                                <i class="fas fa-eye"></i>
                            </div>
                            <div>
                                <span> 23/5/2022 </span>
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div class="main-side-box">
                        <a> هل تعلم البرمجة مفيد للحصول على وظيفة فقط؟ </a>
                        <p> لا بل اكثر ... </p>
                        <hr>
                        <div class="icons flex-full">
                            <div>
                                <span> 450 </span>
                                <i class="fas fa-eye"></i>
                            </div>
                            <div>
                                <span> 23/5/2023 </span>
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div class="main-side-box">
                        <a> لا تنسى الدرس </a>
                        <p> انسى الماضي لكن ليس الدرس!! </p>
                        <hr>
                        <div class="icons flex-full">
                            <div>
                                <span> 23 </span>
                                <i class="fas fa-eye"></i>
                            </div>
                            <div>
                                <span> 23/5/2022 </span>
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div class="main-side-box">
                        <a> ادارة الوقت </a>
                        <p> الأهمية </p>
                        <hr>
                        <div class="icons flex-full">
                            <div>
                                <span> 280 </span>
                                <i class="fas fa-eye"></i>
                            </div>
                            <div>
                                <span> 23/5/2022 </span>
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div class="main-side-box">
                        <a> الحياة قصيرة </a>
                        <p>  لا تتعلم كل شئ  </p>
                        <hr>
                        <div class="icons flex-full">
                            <div>
                                <span> 285 </span>
                                <i class="fas fa-eye"></i>
                            </div>
                            <div>
                                <span> 23/5/2022 </span>
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div class="main-side-box">
                        <a> لا تفرح كثيرا بشهادة الكورس </a>
                        <p>  نعم انه انجاز لكن.... </p>
                        <hr>
                        <div class="icons flex-full">
                            <div>
                                <span> 280 </span>
                                <i class="fas fa-eye"></i>
                            </div>
                            <div>
                                <span> 23/5/2022 </span>
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-container">
                    <i class="fas fa-arrow-right prev-btn"></i>
                    <ul class="pag">
                        <li value="1" class="active" onclick="pagination()"> 1 </li>
                        <li value="2" onclick="pagination()"> 2 </li>
                    </ul>
                    
                    <i class="fas fa-arrow-left next-btn"></i>
                </div>
             </div>   
                <div class="secondary-side">
                    <div class="secondary-side-box">
                        <i class="far fa-star"></i>
                        <span class="m-view"> الأكثر مشاهدة </>
                        <hr>
                        <div class="m-view-anchor">
                            <a> جودة العمل </a>
                            
                            <a> ادارة الوقت </a>
                            
                            <a> الحياة قصيرة </a>
                            
                            <a> عيوبك اولا </a>
                           
                        </div>
                        
                    </div>
                <div class="secondary-side-box">
                    <i class="far fa-star"></i>
                    <span class="m-view"> اخر الداعمين</span>
                    <hr>
                    <div class="support-container">
                        <div class="supporter">
                            <img src="../../images/supporters/profile-15.jpg">
                            <div>
                                <p> احمد منصور </p>
                                <p> 2023/7/20 </p>
                            </div>
                        </div>
                        <div class="supporter">
                            <img src="../../images/supporters/team1.webp">
                            <div>
                                <p> واىل ديفيس </p>
                                <p> 2023/4/20 </p>
                            </div>
                        </div>
                        <div class="supporter">
                            <img src="../../images/supporters/team2.webp">
                            <div>
                                <p> محمد علي </p>
                                <p> 2022/12/20 </p>
                            </div>
                        </div>
                        <div class="supporter">
                            <img src="../../images/supporters/team3.webp">
                            <div>
                                <p> هاني موسى </p>
                                <p> 2022/9/20 </p>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="secondary-side-box">
                    <i class="fas fa-calculator"></i>
                    <span class="m-view"> الاحصاىيات</span>
                    <hr>
                    <div class="Stat-container">
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="far fa-file-alt"></i>
                                <span> المقالات</span>
                            </div>
                            <span> 10 </span>
                        </div>
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="fas fa-laptop-code"></i>
                                <span> المسارات التعليمية</span>
                            </div>
                            <span> 10 </span>
                        </div>
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="fas fa-user"></i>
                                <span> الداعمين</span>
                            </div>
                            <span> 10 </span>
                        </div>
                        <div class="Stat-box flex-full">
                            <div>
                                <i class="far fa-question-circle"></i>
                                <span> الاسىلة و الاجوبه</span>
                            </div>
                            <span> 10 </span>
                        </div>
                    </div>
                </div>
                <div class="secondary-side-box sec-side-la">
                    <i class="far fa-file-alt"></i>
                    <span class="m-view"> اخر مقال</span>
                    <hr>
                    <a> بعض المصطلحات في عالم التقنية</a>
                    <img src="../../images/latest-articles/developer-terms.png" alt="Technology-Terms">
                </div>
            </div>
        </div>        
    </section>
    <!-- footer -->
    <footer class="flex-full main-padd">
        <div class="copy-right">
            <p> Made with <i class="fas fa-heart"></i> by Rabee Khalifa &copy;2023</p>
        </div>
        <div class="icons flex-full">
            <a href=""> <i class="fab fa-facebook-f fa-lg"></i> </a>
            <a href=""> <i class="fab fa-linkedin-in fa-lg"></i> </a>
            <a href=""> <i class="fab fa-github-alt fa-lg"></i> </a>
            <a href=""> <i class="fab fa-whatsapp fa-lg"></i> </a>
        </div>
    
    </footer>  
    <!-- main-js-file -->
    <script src="../main/main.js"></script>
    <!-- specific-js-file-for-this-index -->
    <script src="./arb.js"></script>
</body>
</html>